<a href="@Url.Action("Index", "Cart")" class="widget-view">
    <div class="icon-area">
        <i class="fa fa-shopping-cart"></i>
        <span id="cart" class="notify">@ViewBag.Number</span>
    </div>
    <small class="text"> Giỏ hàng </small>
</a>